[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"
django-s3-sqlite = "*"
zappa = "*"

[requires]
python_version = "3.8"
