{% extends "base.html" %}

{% block title %}Bingo das Sílabas - Cartelas{% endblock %}
{% block home %}
<body>
    <div class="container-fluid">
        <p style="text-align: center; background-color: unset;">
            <a href="#" onclick="window.print();">CLIQUE AQUI</a> PARA IMPRIMIR, DEPOIS BASTA FECHAR ESSA JANELA PARA VOLTAR P/ PÁGINA PRINCIPAL
        </p>
        <div class="row justify-content-center">
        {% for k, v in dic.items %}
            <div class="col-md-6">
                <table class="table table-bordered table-sm">
                    <tbody>
                        {% for item in v %}
                        <tr style="text-align: center; font-size: 2.2em;">
                            {% for silaba in item %}
                            <td><strong>{{ silaba }}</strong></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        </div>
     </div>
</body>
{% endblock %}