{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Bingo das Sílabas - Comentário{% endblock %}
{% block home %}
<div class="container-fluid">
  <div class="jumbotron">
      <div class="row justify-content-center">
          <div class="col-md-6">              
              <h1 class="display-3" style="text-align: center;">Bingo das Sílabas</h1>
              {% if novo_comentario %}
                <h2>Muito obrigado pelo seu comentário!</h2>
              {% else %}
                <h2>Registre aqui o seu comentário</h2>
                <form method="POST">
                  {% csrf_token %}
                  {{ comentario_form|crispy }}
                  <input class="btn btn-success" type="submit" value="Enviar" />
                </form>
              {% endif %}
              <p style="text-align: center;"><a class="btn btn-lg btn-outline-primary" href="{% url "core:home" %}" role="button">VOLTAR P/ HOME</a></p>
          </div>
      </div>
  </div>
</div>
{% endblock %}