{% extends "base.html" %}

{% block home %}
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <p class="lead" style="text-align: center;">Venha se divertir com as crianças e a família no:</p>
                    <h1 class="display-3" style="text-align: center;">Bingo das Sílabas</h1>
                    <p class="lead" style="text-align: center;">Clique em "Sortear" para começar o jogo e para sortear uma nova sílaba</p>
                    <p style="text-align: center;"><a class="btn btn-lg btn-success" href="{% url "core:sortear" %}" role="button">SORTEAR</a></p>
                    {% block button %}
                    {% endblock %}
                    <p style="text-align: center;"><a class="btn btn-lg btn-outline-primary" href="{% url "core:cartelas" %}" target="_blank" role="button">GERAR CARTELAS</a></p>
                </div>
            </div>
        {% block content %}
        {% endblock %}
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <p style="text-align: center; background-color: unset;">
                    COMPARTILHE
                </p>
                <p style="text-align: center;">
                    <a class="btn btn-lg btn-social btn-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" title="Compartilhe esta página no Facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-lg btn-social btn-tw" href="https://twitter.com/intent/tweet?text=Bingo&nbsp;das&nbsp;S&iacute;labas&amp;url={{ request.build_absolute_uri }}" target="_blank" title="Compartilhe esta página no Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-lg btn-social btn-wa" href="https://web.whatsapp.com/send?text=Bingo&nbsp;das&nbsp;S&iacute;labas&nbsp;{{ request.build_absolute_uri }}" target="_blank" title="Compartilhe esta página no WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-lg btn-social btn-te" href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text=Bingo&nbsp;das&nbsp;S&iacute;labas" target="_blank" title="Compartilhe esta página no Telegram">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a class="btn btn-lg btn-social btn-ma" href="mailto:?subject=Bingo&nbsp;das&nbsp;S&iacute;labas&amp;body={{ request.build_absolute_uri }}" target="_blank" title="Compartilhe esta página por email">
                        <i class="fa fa-envelope"></i>
                    </a>
                </p>
                <p style="text-align: center;">
                    © 2020 Thiago Ozores
                </p>
            </div>
        </div>
    </div> 
</body>
{% endblock %}