{% extends "base.html" %}

{% block home %}
<body>
    <a class="github-fork-ribbon" href="https://github.com/ozorest/bingo-silabas" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    <div class="container-fluid">
        <div class="jumbotron">
            {% block content %}
            {% endblock %}
            <div class="row justify-content-center">
                <div class="col-md-12">
                    {% if request.get_full_path != '/sortear/' %}
                    <p class="lead" style="text-align: center;">Venha se divertir com as crianças e a família no:</p>
                    <h1 class="display-3" style="text-align: center;">Bingo das Sílabas</h1>
                    <p class="lead" style="text-align: center;">Clique em "Sortear" para começar o jogo e para sortear uma nova sílaba</p>
                    {% else %}
                    <br />
                    {% endif %}
                    <p style="text-align: center;"><a class="btn btn-lg btn-success" href="{% url "core:sortear" %}" role="button">SORTEAR</a></p>
                    {% block button %}
                    {% endblock %}
                    <p style="text-align: center;"><a class="btn btn-lg btn-outline-primary" href="{% url "core:cartelas" %}" target="_blank" role="button">GERAR CARTELAS</a></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <p style="text-align: center; background-color: unset;">
                    DEIXE AQUI O SEU <a href="{% url "core:comentario" %}">COMENTÁRIO</a> E COMPARTILHE
                </p>
                <p style="text-align: center;">
                    <a class="btn btn-lg btn-social btn-fb" href="#" onclick="return popitup('{% url 'core:compartilhar' rede='facebook' %}','facebook')" title="Compartilhe esta página no Facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-lg btn-social btn-tw" href="#" onclick="return popitup('{% url 'core:compartilhar' rede='twitter' %}','twitter')" title="Compartilhe esta página no Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-lg btn-social btn-wa" href="#" onclick="return popitup('{% url 'core:compartilhar' rede='whatsapp' %}','whatsapp')" title="Compartilhe esta página no WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-lg btn-social btn-te" href="#" onclick="return popitup('{% url 'core:compartilhar' rede='telegram' %}','telegram')" title="Compartilhe esta página no Telegram">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a class="btn btn-lg btn-social btn-ma" href="#" onclick="return popitup('{% url 'core:compartilhar' rede='email' %}','email')" title="Compartilhe esta página por email">
                        <i class="fa fa-envelope"></i>
                    </a>
                </p>
                <p style="text-align: center;">
                    © 2020 Thiago Ozores
                </p>
            </div>
        </div>
    </div> 
</body>
{% endblock %}